
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300&display=swap');
/* General Styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Chivo Mono, Consolas;
}

body {
    display: flex;
    flex-direction: column;
}

/* Header*/
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 0 1.5rem;
}

#title {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #4a4a48;
    padding: 0.5rem;
    align-items: center;
}
#logo {
    display:flex;
    margin: auto;
    width:20%
    
    
}

#title h1 {
    color: #825b9c;
    width: 100%;
    text-align: center;

}
/* Nav Bar */
nav {
    background: #4a4a48;
    display: flex;
    flex-direction:row;
    width: 100%;
    justify-content: space-around;
    height: 100%
     
}

.navlink {
    width: 30%;
    border: solid 1px ;
    text-decoration: none;
    padding: 0.4rem;
    margin: 1rem;
    text-align: center;
    animation:glow 2s infinite alternate;
    
}

/* Background */
#background {
    background: url(mountain.PNG) no-repeat right 33%;
    background-size: cover;
    align-items: center;
    flex-direction: row;
 
}
/* Portrait */
#portrait {
    width: 50%;
    border-radius: 60%;
    padding: 1rem;
    justify-self:center;
    margin-left: auto;
    margin-right: auto; 
}

/* Homepage Styles */
main {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(#4a4a48, #825b9c);
}

#welcome p {
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 1rem;
    font-size: 1rem
}

/* My Story Page Styles*/

#storyoverview {
    background: #825b9c;
    font-size: 1rem;
    padding: 1rem;
    text-align: center;
}

#career {
    display: flex;
    flex-direction: column;
}


#career article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: solid 0.2rem black;
    padding: 0.5rem
}

#career article img {
    width: 30%
}

details {
   padding: 1rem;
   width: 100%;
}

summary {
    text-align: center;
    text-decoration: underline;
}

#career article p {
    width: 100%;
    font-size: 1rem;
    
}
/* My Story - Resume Link */
#resume, h2 {
    align-self: center;
    
    
}

/* My Blog Styles */

#blogs {
    margin: 1rem;
}
#blogintro {
    font-size: 1rem;
    padding: 1rem;
    background: #825b9c;
    margin-bottom: 1rem;
    text-align: center;
}
.blogpost {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blogpost img {
    width: 50%;
    align-self: center;
}
#blogs h1 {
    font-size: 1.5rem;
    text-align: center;
}

#blogs article {
    margin-bottom: 1rem;
    padding: 1rem;
    background: #7b7b78;
    animation:edge-glow 2s infinite alternate;
}

#blogs p {
    font-size: 1rem;
}
/* Contact Me Styles */

.contact {
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
    background: #825b9c;
}
    
/* Social Links */

#socialmedia {
    background-color: #825b9c;
    
}

#socialmedia a {
    color: black;
}
 /* Footer */
footer {
    align-self: center;
}


/* General - Tablet Styles */

@media only screen and (min-width: 550px) {
    #portrait{
        padding: 3rem;
    }
}
@media only screen and (min-width: 700px) {
   
    #title h1{
        font-size: 2rem;
    }

/* My Story - Tablet */
#career article {
    flex-direction: row;
    margin: 1rem;
}

#career article:nth-child(2n) {
    flex-direction: row-reverse;
    
}


#career article img {
    width:20%;
}
details {
    width:80%
}
}


/* My Blog - Tablet */

    .blogpost {
        flex-direction: row
    }

    #blogs article:nth-child(2n) {
        flex-direction: row-reverse;
    }

    .blogpost img {
        width: 30%;
    }

    .blogpost div {
        width: 70%;
        margin: 1rem;
    }
    .blogpost footer {
        margin: 1rem;
        text-align: start;
    }

/* General Desktop Styles */
@media only screen and (min-width: 900px) {
    #portrait {
        width: 35%
    }

    /* Home - Desktop */
    #welcome p {
        font-size: 1.5rem
    }
 
/* My Story - Desktop */
    #career article img {
        width:10%;
    }
    
    summary {
        font-size: 1.5rem;
    }

    #career article p {
        width: 100%;
        font-size: 1.5rem;
    }


/* My Blog - Desktop */
    .blogpost img {
    width: 10%;
    }
/* Contact Me - Desktop */
    #contactbackground {
        align-self: center;
        width: 50%
    }
}
    @media only screen and (min-width: 1300px) {
        #portrait {
            width: 22%
        }


    }


/* Animations */
@keyframes glow {
    0% {
      color: rgb(0, 217, 255) ;

    }
    50%{
        color: rgb(209, 230, 23) ;
    }

    75% {
        color: rgb(137, 238, 124) ;
    }
    100%{
        color: rgb(241, 198, 132) ;
    }
    }


@keyframes edge-glow {
        0% {
            border: solid 2px rgb(0, 217, 255) ;
    
        }
        50%{
            border: solid 2px rgb(209, 230, 23) ;
        }
    
        75% {
            border: solid 2px rgb(137, 238, 124);
        }
        100%{
            border: solid 2px rgb(241, 198, 132) ;
        }
        }